<div class="container">
<aside class="sidebar">
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
    </div>
    <nav>
      <ul>
        <li><span class="folder-icon"></span> Ámbitos de Gestión</li>
        <li><span class="folder-icon"></span> Consejo de Recursos Hídricos de Cuenca - CRHC</li>
        <li><span class="folder-icon"></span> Sectores Hidráulicos</li>
        <li>
          <span class="folder-icon"></span> Unidades Hidrográficas
          <ul>
            <li><span class="file-icon"></span> AAA</li>
            <li><span class="file-icon"></span> ALA</li>
          </ul>
        </li>
        <li><span class="folder-icon"></span> Oferta</li>
        <li><span class="folder-icon"></span> Calidad</li>
        <li><span class="folder-icon"></span> Demanda</li>
        <li><span class="folder-icon"></span> Fuentes de Agua</li>
        <li><span class="folder-icon"></span> Infraestructura Hidráulica</li>
        <li><span class="folder-icon"></span> Gestión de Riesgo</li>
      </ul>
    </nav>
  </aside>
  </div>