<aside class="sidebar">
  <div class="search-bar">
    <input type="text" placeholder="Buscar...">
  </div>
  <nav>
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li>
          <span [class]="item.icon" (click)="toggleItem(item)"></span>
          <span (click)="toggleItem(item)">{{ item.name }}</span>
          <ng-container *ngIf="item.expanded && item.children">
            <ul>
              <ng-container *ngFor="let child of item.children">
                <li>
                  <span [class]="child.icon" (click)="toggleItem(child)"></span>
                  <span (click)="toggleItem(child)">{{ child.name }}</span>
                  <ng-container *ngIf="child.expanded && child.children">
                    <ul>
                      <li *ngFor="let grandchild of child.children">
                        <span [class]="grandchild.icon"></span>
                        <span>{{ grandchild.name }}</span>
                      </li>
                    </ul>
                  </ng-container>
                </li>
              </ng-container>
            </ul>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </nav>
</aside>